@import "tailwindcss";

:root {
  --color-primary-amber: #d9b504;
  --color-footer-amber: #a69b03;
  --color-footer-amber-dark: #8b8003;
  --color-bg-primary: #261501;
}

html {
  scroll-behavior: smooth;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
}

@layer components {
  .circle-icon {
    @apply aspect-square rounded-full outline-2 h-auto flex-1 max-w-[30%]
    flex items-center justify-center transition-all cursor-pointer;
  }

  .circle-icon:hover {
    @apply text-[var(--color-primary-amber)] outline-[var(--color-primary-amber)] outline outline-2;
  }

  .circle-icon[data-active="true"] {
    @apply text-[var(--color-primary-amber)] outline-[var(--color-primary-amber)] outline outline-2;
  }

  .navbar {
    @apply backdrop-blur-sm;
  }

  .content-padding-x {
    @apply px-8 md:px-30;
  }
}
